{{define "subject"}}Password Reset Request{{end}} {{define "plainBody"}} Hi
{{.Name}}, We received a request to reset your password. If you didn't make this
request, please ignore this email. To reset your password, please send a PUT
request to the following URL: {{.ResetURL}} This link will expire in
{{.Expiration}} hours. Thanks, The Go WebApp Team {{end}} {{define "htmlBody"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>{{template "subject" .}}</title>
</head>

<body>
    <p>Hi {{.Name}},</p>
    <p>
        We received a request to reset your password. If you didn't make this
        request, please ignore this email.
    </p>
    <p>To reset your password, please click the following link:</p>
    <p><a href="{{.ResetURL}}">{{.ResetURL}}</a></p>
    <p>This link will expire in {{.Expiration}} hours.</p>
    <p>Thanks,</p>
    <p>The Go WebApp Team</p>
</body>

</html>
{{end}}